@import '../../styles/utils';
@import '../../styles/blocks/container.scss';

.TopPosts {
  &__content {
    position: relative;
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid $border-bottom;
  
    @include onDesktop {
      margin-bottom: 56px;
      padding-bottom: 56px;
    }
  }

  &__mark {
    position: absolute;
    top: -40px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: $section-mark;
  }

  &__posts {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include onDesktop {
      flex-direction: row;
      gap: 32px;
    }
  }
}
