$max-width-desktop: 1280px;
$transition-duration: 0.3s;
$main-bg-color: #e5e5e5;

$dark-gray: #242424;
$gray-date-text: #adb8c8;
$gray-post-text: #78787a;
$section-mark: #91a0b6;

$border-bottom: #c4c4c4;

$primary-green: #04bf94;

$icon-size-mobile: 17px;
$icon-size-desktop: 24px;
