@import '../../styles/utils';
@import '../../styles/blocks/container.scss';

.NewPost {
  &__content {
    position: relative;
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid $border-bottom;
  
    @include onDesktop {
      margin-bottom: 56px;
      padding-bottom: 56px;
    }
  }

  &__flag {
    position: absolute;
    top: -52px;
    width: 78px;
    height: 36px;
    background: no-repeat url('../../../public/images/flag.svg');
    border-radius: 4px;

    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #fff;
  }
}
